<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=MetaDomingoAuth;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="MetaDomingoDatabase" connectionString="Data Source=DESKTOP-QA7NVB1;Initial Catalog=MetaDomingoDatabase;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>